.md-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limite à 3 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Ouvrir le menu dropdown au survol */
.md-tabs__item:hover .md-tabs__link + .md-tabs__dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
}

.md-tabs__dropdown {
    transition: opacity 0.2s ease-in-out;
}
